# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env

# Environment variables
.env

# Storage directories
storage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

*.mp4
*.gif
*.avi
*.mov
